LogLevel VERBOSE

MaxAuthTries {{ cis_ssh_max_auth_tries }}

PermitRootLogin no

ClientAliveInterval {{ cis_ssh_client_alive_interval }}
ClientAliveCountMax {{ cis_ssh_client_alive_count_max }}

LoginGraceTime {{ cis_ssh_login_grace_time }}

Banner /etc/issue.net

MaxStartups 10:30:60

MaxSessions {{ cis_ssh_max_sessions }}

{% if cis_ssh_allow_groups -%}
AllowGroups {{ cis_ssh_allow_groups }}
{% endif -%}